<%= form_with model: [@group, @comment], class: 'form', local: true do |f| %>
  <%= render 'devise/shared/error_messages', resource: @comment, object: f.object%>
  <div class="form-input">
    <%= f.text_field :text, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
