<div class= 'group-chat'>
  <header>
    <div class="nav-link-group">
      <%= link_to 'グループトップ', group_path(@group.id) %>
    </div>
    <div class="chat">
      <%= form_with model: [@group, @comment], class: 'form', local: true do |f| %>
        <%= render 'devise/shared/error_messages', resource: @comment, object: f.object%>
        <div class="form-input">
          <%= f.text_field :text, class: 'form-message', placeholder: 'メッセージをどうぞ！' %>
          <label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, direct_upload: true, class: 'hidden' %>
          </label>
        </div>
        <%= f.submit '送る', class: 'form-submit' %>
      <% end %>
    </div>
  </header>
  <div class="messages">
    <%= render partial: 'comment', collection: @comments %>
  </div>
</div>

