<!DOCTYPE html>
<html>
  <head>
    <title>Homee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='top-body'>
    <div class= 'top-wrapper' >
      
      <div class= "top-left">
      </div>
      <div class= 'top-right'>
        <h1 class='top-right-title'>
          Homee
        </h1>
        <p class='top-right-text'>
          Homeeはお子さんの「ただいま！！」をお母さん、お父さんへお届けするためのツールです。チャット機能の他、その日の習い事などのスケジュールの管理機能もご用意しています
        </p>
        <div class='top-right-link'>
          <% if user_signed_in? %>
            <%= link_to("Familyグループ作成", new_group_path, class: 'top-right-link-room-create') %>
            <%= link_to("Familyグループに参加", signin_groups_path, class: 'top-right-link-room-signin') %>
          <% else %>
            <%= link_to("Homeeアカウントの開設（無料）  >", new_user_registration_path, class: 'top-right-link-new') %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>