<div class='event-index'>
  <header>
    <div class= 'event-header'>
      <div class= 'nav-link-group'>
        <%= link_to @group.group_name + 'top', group_path(@group.id) %>
      </div>
      <div class= 'nav-link-group'>
        <%= link_to("予定作成", new_group_event_path, class: 'event-nav-link')%>
      </div>
    </div>
  </header>
  <body>
    <div class= 'event-list'>
        <% @events.each do |event| %>
          <div class= 'event-content'>
            <div class= 'event-person'>
              <%= event.person %>
            </div>
            <div class= 'event-title'>
              <%= event.title %>
            </div>
            <% if event.start ==  event.end %>
              <div class= 'event-time'>
                <%= l event.start, format: :short %>
              </div>
            <% else %>
              <div class= 'event-time'>
                <%= l event.start, format: :short %><%=' ~ '%><%= l event.end, format: :short %>
              </div>
            <% end %>
            <%= link_to "編集", "/groups/#{@group.id}/events/#{event.id}/edit", class: 'group-edit-btn' %>
            <%= link_to "削除", "/groups/#{@group.id}/events/#{event.id}", method: :delete, class: 'group-edit-btn' %>
          </div>
        <% end %>
    </div>
    <div class='calendar', id='calendar'></div>
  </body>
</div>
