<!DOCTYPE html>
<html>
  <head>
    <title>Homee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header-logo">
          <a><%= link_to("Homee", "/", class: "nav-link-title") %></a>
        </div>
        <ul class="header-menus">
          <% if user_signed_in? %>
            <li><a><%= link_to current_user.nickname, root_path, class: "nav-link" %></a></li>
            <li><a><%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "nav-link") %></a></li>
            <li><a><%= link_to("Familyを招待", new_user_invitation_path, class: "nav-link") %></a></li>
          <% else %>
            <li><a><%= link_to("新規登録", new_user_registration_path, class: "nav-link") %></a></li>
            <li><a><%= link_to("ログイン", new_user_session_path, class: "nav-link") %></a></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
